@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

*
{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "epilogue", sans-serif;
}

:any-link
{
  color: unset;
}

.opacity{
  display: none;
}
body {
  height: 100%;
   font: 500 16px/1.5 Epilogue, sans-serif;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; margin-top: 20px;}
.attribution a { color: hsl(228, 45%, 44%); }

.navToggleMobile{
  display: none;
}

nav{
  color: grey;
}


a:hover{
  color: black;
}
.navLeft{
  margin-top: 6px;
}

ul{
  display: inline-flex;
    column-gap: 40px;
}


.btn{
  display: inline-flex;
    column-gap: 40px;
    font: 500 16px/1.5 Epilogue, sans-serif;
    color:grey;
    padding-right: 5px;
}

.btn:hover{
  color: black;
}

.arrow{

  transition: transform 400ms ease;
}

.arrowUp{
  transform: rotate(-180deg);
}

.sousMenuContent {
  position: absolute;
  display: block;
  transition: 0.5s;
  animation: fade-in .3s ease forwards;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0,0, 10%);
  border-radius: 8px;
  margin-top: 40px;
  padding: 10px;
}

.show {
  display: block;
  transition: 0.5s;
  animation: fade-in .3s ease forwards;
  visibility: visible;
  opacity: 1;
}
.navLeft li{
  margin-right: 14px;
}


.sousMenuLines{
  display: flex;
  column-gap: 15px;
  margin-bottom: 14px;
}

.sousMenuIcons{
  padding: 4px;
}
.navRight ul{
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.navRight li {
  margin-right: 35px;
}

.moreLink li{
  position:absolute;
  display: flex;
  justify-content: space-between;
}

.moreLink {
  margin-right: 9px;
}

.sousMenuItems{
display: flex;
margin-bottom: 8px;

}
header
{
  display: flex;
  padding: 34px 40px 0;
}

.navToggle
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 64px;
}

.mainText {

  width: 500px;
  font-size: 18px;
  padding: 50px 25px 50px 0px;
  text-align: justify;
  
}

.bigText{
  display: grid;
}

button {
    cursor: pointer;
    background-color: rgba(255, 255,255, 0);
    border: 0 none;
    transition: 200ms ease-in-out;
}

.buttonRegister
{
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px 15px;
}

.buttonRegister:hover{
  border: 1px solid black;
  background-color: black;
  color: white;
}

.mainPart
{
  margin: 48px 130px 0 165px;
  display: flex;
justify-content: space-between;
}

.blockText 
{
font-size: 80px;
padding-top: 48px;
}

.buttonLearn
{
  border: 1px solid;
  border-color: black;
  background-color: black;
  color:white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  line-height: 28px;
  padding: 14px 28px;;
}


.buttonLearn:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.hero
{
  width: 480px;
  height:640px;
}
.heroMobile
{
  display:none;
  width: 100%
}

@media only screen and (max-width :800px) {
  header
{
  margin: unset;
  padding: unset;
}
.navToggle{
  margin: unset;
  padding: unset;
  display: none;
}
  body{
    width: 100%;
  }
  
  .logo{
    display: none;
  }
  .navToggleMobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 15px 15px;
  }

.hamburger {
    display: block;
    position:relative;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 36px 12px 5px;
    z-index: 1003;
}

.hamburger span{

    position: absolute;
    width: 32px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    pointer-events: none;
    transition: transform .3s opacity .15s ease-out;
    align-items: center;
}


.hamburger span:nth-child(1),.hamburger span:nth-child(3){
  transition:transform .3s ease-out;
}
.hamburger span:nth-child(1){
  transform: translateY(-9px);
}

.hamburger span:nth-child(3){
  transform: translateY(9px);
}

.hamburger.open span:nth-child(1){
  transform: translateY(0) rotate(135deg);
}

.hamburger.open span:nth-child(2){
opacity: 0;
transform: translateX(3px);
transition: opacity 0.2s ease-out;
}
.hamburger.open span:nth-child(3){
  transform: translateY(0) rotate(-135deg);
}

  .navToggle{
    display: block;
    position: absolute;
    flex-direction: column;
    width: 40%;
    height:136%;
    right: 0;
    background-color: #fff;
    justify-content: unset;
    padding: 0 20px 0 20px;
    transform: translate(100%);
    transition: transform .3s ease-in-out;
  }

  .opacity{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s linear, visibility 0.15s linear;
}

.opacity.show{
  display: block;
  visibility: visible;
  opacity: 0.5;
}

  .navToggle.show{
    display: block;
    transform: translateX(0);
    z-index: 1002;
  }

  .sousMenuContent.show{
    max-height: 230px;
    padding: 24px;

  }

  .sousMenuContent{
    position: unset;
    box-shadow: unset;
    margin-top: 0;
    max-height: 0;

  }
  .navLeft li{
margin-bottom: 16px;

  }
  .navLeft ul{
    display: block;
  }

  .navLeft{
    margin-top: 90px;
    margin-bottom: 16px;
  }

  .show{
    display: none;
overflow: visible;

  }
  .navRight ul{
    display: flex;
    flex-direction: column;
  }
.navRight li:last-child{
  width: 95%;
}
  .navRight li{
    margin:unset;
margin-bottom: 16px;
}

.buttonRegister{
  display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 12px;
}
a{
  font-size: 16px;
}
  .mainPart {
    display: flex;
    visibility: visible;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: unset;
  }
  .bigText{
    margin: unset;
    display: block;
    text-align: center;
  }
  .mainText{
    margin: unset;
    display: block;
    padding: 16px 16px 24px 16px;
    width: 100%;
    font-size: 16px;
  }
  .hero {
    display: none;
  }
  .heroMobile {
    display: block;
  }

   h1{
    padding: 0;
    text-align: center;
    font-size: 38px;
    margin-top: 16px;
}
.title span{
    display:inline-block;
}
.mainTitle p{
    padding: 0 7% 0 7%;
    margin: -40px auto 0;
}

.heroImage{
    width: 100%;
}
body{
    width: auto;
}


.imagesFooter
{
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  height: 24px;
}
.imagesFooter img
{
  padding-right: unset;
}

}