@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap');

*
{
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "epilogue", sans-serif;
}

:any-link
{
  color: unset;
}

body {
  height: 100%;
   font: 500 16px/1.5 Epilogue, sans-serif;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; margin-top: 20px;}
.attribution a { color: hsl(228, 45%, 44%); }

.navToggleMobile{
  display: none;
}

nav{
  color: grey;
}

li:hover{
  color: black;
}
.navLeft{
  display: flex;
  margin-top: 6px;
}

.navLeft ul {
  display: flex;
  column-gap: 40px;
}
.navLeft li{
  margin-right: 14px;
}

.sousMenuLines{
  display: flex;
  column-gap: 15px;
  margin-bottom: 14px;
}

.sousMenuIcons{
  padding: 4px;
}
.navRight ul{
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.navRight li {
  margin-right: 35px;
}

.moreLink li{
  position:absolute;
  display: flex;
  justify-content: space-between;
}

.moreLink {
  margin-right: 9px;
}

.sousMenu{
  display: grid;
  position: absolute;
  background: #fff;
  padding: 24px;
  box-shadow: 0 5px 25px rgba(0, 0,0, 10%);
  border-radius: 8px;
  margin-top: 10px;
}

.sousMenuItems{
display: flex;
margin-bottom: 8px;

}
header
{
  display: flex;
  padding: 34px 40px 0;
}

.navToggle
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 64px;
}




.mainText {

  width: 500px;
  font-size: 18px;
  padding: 50px 25px 50px 0px;
  text-align: justify;
  
}

.bigText{
  display: grid;
}

button {
    cursor: pointer;
    background-color: rgba(255, 255,255, 0);
    border: 0 none;
    transition: 200ms ease-in-out;
}

.buttonRegister
{
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  padding: 10px 15px;
}

.buttonRegister:hover{
  border: 1px solid black;
  background-color: black;
  color: white;
}
.mainPart
{
  margin: 48px 130px 0 165px;
  display: flex;
justify-content: space-between;
}

.blockText 
{
font-size: 80px;
padding-top: 100px;
}


.buttonLearn
{
  border: 1px solid;
  border-color: black;
  background-color: black;
  color:white;

  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  line-height: 28px;
  padding: 14px 28px;;
}


.buttonLearn:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.hero
{
  width: 480px;
  height:640px;
}
.heroMobile
{
  display:none;
  width: 100%
}

@media only screen and (max-width :800px) {
  header
{
  margin: unset;
  padding: unset;
}
.navToggle{
  margin: unset;
  padding: unset;
  display: none;
}
  body{
    width: 100%;
  }
  
  .logo{
    display: none;
  }
  .navToggleMobile{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 15px 15px;
  }

  #checkbox{
    display: none;
}

.hamburger {
    position:relative;
    padding: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 36px 12px 5px;
}

.line{
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: transform .25s, opacity .35s;
}

.lineTop{
    transform: translateY(-9px);
}

.lineBottom{
    transform: translateY(9px);
}

#checkbox:checked~.lineTop{
    transform: rotate(45deg);
}

#checkbox:checked~.lineMiddle{
    transform: translateX(16px);
    color: #fff;
    opacity: 0;
}

#checkbox:checked~.lineBottom{
    transform: rotate(-45deg);
}

#checkbox:checked~.lineMiddle{
transition: transform .25s, opacity .35s;
}

  .navToggle{
    margin-top: 50px;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 64%;
    height:128%;
    right: 0;
    background-color: #fff;
    justify-content: unset;
  }

  .navLeft ul{
    display: unset;
    margin-top: 34px;
    margin-left: 20px;
  }
  .navLeft li{
margin-bottom: 16px;

  }

  .navLeft{
    margin-bottom: 16px;
  }

  .navRight ul{
    display: flex;
    flex-direction: column;
  }
.navRight li:last-child{
  width: 95%;
}
  .navRight li{
    margin:unset;
margin-bottom: 16px;
}

.buttonRegister{
  display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 12px;
}
a{
  font-size: 16px;
}
  .mainPart {
    display: flex;
    visibility: visible;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: unset;
  }
  .bigText{
    margin: unset;
    display: block;
    text-align: center;
  }
  .mainText{
    margin: unset;
    display: block;
    padding: 16px 16px 24px 16px;
    width: 100%;
    font-size: 16px;
  }
  .hero {
    display: none;
  }
  .heroMobile {
    display: block;
  }

   h1{
    padding: 0;
    text-align: center;
    font-size: 38px;
    margin-top: 16px;
}
.title span{
    display:inline-block;
}
.mainTitle p{
    padding: 0 7% 0 7%;
    margin: -40px auto 0;
}

.heroImage{
    width: 100%;
}
body{
    width: auto;
}
}


.imagesFooter
{
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
  height: 24px;
}
.imagesFooter img
{
  padding-right: unset;
}

